<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.t2.vas"
	android:versionCode="10"
	android:versionName="2.2.0">

    <application
    	android:icon="@drawable/icon"
    	android:label="@string/app_name">

        <service
        	android:name=".ReminderService">
			<intent-filter>
				<action
					android:name="com.t2.vas.ReminderService">
				</action>
			</intent-filter>
		</service>

		<receiver android:name=".BootReceiver">
			<intent-filter>
				<action
					android:name ="android.intent.action.BOOT_COMPLETED">
				</action>
			</intent-filter>
		</receiver>

        <!-- <activity
        	android:label="@string/app_name"
        	android:name=".activity.SplashScreen"
    		android:theme="@style/CustomTheme">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>-->

    	<activity
        	android:label="@string/app_name"
        	android:launchMode="singleTop"
        	android:name=".activity.MainActivity"
        	android:excludeFromRecents="true"
    		android:theme="@style/CustomTheme">

        	<intent-filter>
        		<action android:name="com.t2.vas.MainActivity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        
        <activity
        	android:launchMode="singleTop"
        	android:name=".activity.WebViewActivity"
        	android:excludeFromRecents="true"
    		android:theme="@style/CustomTheme">
        </activity>
        
        <activity
        	android:label="@string/notes_list_title"
        	android:launchMode="singleTop"
        	android:name=".activity.NotesList"
        	android:excludeFromRecents="true"
    		android:theme="@style/CustomTheme">
        </activity>

	    <activity
	    	android:label="@string/form_title"
	    	android:launchMode="singleTop"
	    	android:name=".activity.FormActivity"
	    	android:excludeFromRecents="true"
	    	android:theme="@style/CustomTheme">
	   	</activity>

	   	<activity
	    	android:label="@string/results_title"
	    	android:launchMode="singleTop"
	    	android:name=".activity.GroupResultsActivity"
	    	android:excludeFromRecents="true"
	    	android:theme="@style/CustomTheme">
	   	</activity>
	   	<activity
	    	android:label="@string/results_title"
	    	android:launchMode="singleTop"
	    	android:name=".activity.ScaleResultsActivity"
	    	android:excludeFromRecents="true"
	    	android:theme="@style/CustomTheme">
	   	</activity>

	   	<activity
	    	android:name=".activity.Unlock"
	    	android:label="@string/security_title"
	    	android:excludeFromRecents="true"
	    	android:theme="@style/CustomTheme"
	    	android:launchMode="singleTop">
	   	</activity>
	   	<activity
	    	android:name=".activity.ForgotPin"
	    	android:label="@string/forgot_pin"
	    	android:excludeFromRecents="true"
	    	android:theme="@style/CustomTheme"
	    	android:launchMode="singleTop">
	   	</activity>

	   	<!-- Notes Activities -->
	   	<activity
	    	android:name=".activity.AddEditNoteActivity"
	    	android:label="@string/add_edit_note_title"
	    	android:excludeFromRecents="true"
	    	android:theme="@style/CustomTheme"
	    	android:launchMode="singleTop">
	   	</activity>


	    <activity
	    	android:launchMode="singleTop"
	    	android:name=".activity.preference.MainPreferenceActivity"
	    	android:label="@string/settings_title"
	    	android:excludeFromRecents="true"
	    	android:theme="@style/CustomTheme">
	   	</activity>

	    <activity
	    	android:launchMode="singleTop"
	    	android:name=".activity.preference.Reminder"
	    	android:label="@string/reminders_title"
	    	android:theme="@style/CustomTheme"
	    	android:excludeFromRecents="true">
	   	</activity>
	   	
	   	<activity
	    	android:launchMode="singleTop"
	    	android:name=".activity.preference.Security"
	    	android:label="@string/security_title"
	    	android:theme="@style/CustomTheme"
	    	android:excludeFromRecents="true">
	   	</activity>
	   	
	   	<activity
	    	android:name=".activity.preference.ClearData"
	    	android:label="@string/clear_data_title"
	    	android:excludeFromRecents="true"
	    	android:launchMode="singleTop"
    		android:theme="@style/CustomTheme">
	   	</activity>

	   	<!-- Group Editor Activities -->
	   	<activity
	    	android:name=".activity.editor.GroupListActivity"
	    	android:label="@string/activity_group"
	    	android:excludeFromRecents="true"
	    	android:theme="@style/CustomTheme"
	    	android:launchMode="singleTop">
	   	</activity>
	   	<activity
	    	android:name=".activity.editor.GroupActivity"
	    	android:label="@string/activity_group"
	    	android:excludeFromRecents="true"
	    	android:theme="@style/CustomTheme"
	    	android:launchMode="singleTop">
	   	</activity>
   	</application>

    <uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
</manifest>